RewriteEngine On
# Always enable HTTPS when running live
RewriteCond "%{HTTPS}" "off"
RewriteCond "%{HTTP_HOST}" "!^localhost"
RewriteRule ^(.*)$ https://youtubetimeline.com/$1 [R,L]

RewriteCond "%{HTTP_HOST}" "localhost"
#If local, skip next block
RewriteRule .* - [S=3]
RewriteRule ^channel index.html [NC,L]
RewriteRule ^user index.html [NC,L]
RewriteRule ^about about.html [NC,L]

RewriteCond "%{HTTP_HOST}" "!localhost"
# If not local, skip next block
RewriteRule .* - [S=3]
RewriteRule ^channel index.php [NC,L]
RewriteRule ^user index.php [NC,L]
RewriteRule ^about about.php [NC,L]

# General settings
Options +FollowSymLinks -Indexes
ErrorDocument 404 /404.html
ErrorDocument 403 /403.html
